/* 
First write code for mobile device, 
later activate the below code by uncommenting 
and then make changes to these codes in accordance to mobile device code
*/

/* Saithalavi Koya T K - Website Developer */
#head-title {
  font-size: xx-small;
}

/* background image */
body::after {
  content: "";
  background: url(/images/whiteBackground2.jpg);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -2;
}

/* Navigation */
#navbar {
  text-decoration: none;
  color: orange;
  border: solid;
  border-width: 1vw;
  border-radius: 20%;
  margin: 2vw;
  padding: 1vw;
}

ul.nav-links {
  list-style-type: none;
  display: flex;
  position: fixed;
  top: 6vmin;
  left: 15vmax;
}

/* Name */
#my-name {
  position: fixed;
  font-size: 4vw;
  top: 30vmin;
  right: 60vmax;
  color: rgb(105, 74, 52);
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: bolder;
}

/* Caption */
#caption-line1 {
  position: fixed;
  font-size: 2vw;
  bottom: 10vmin;
  left: 65vmin;
  color: red;
  font-family: Montserrat, Helvetica, sans-serif;
}

#caption-line2 {
  position: fixed;
  font-size: 2vw;
  bottom: 10vmin;
  left: 65vmin;
  color: red;
  font-family: Montserrat, Helvetica, sans-serif;
}

#caption-line3 {
  position: fixed;
  font-size: 2vw;
  bottom: 10vmin;
  left: 65vmin;
  color: red;
  font-family: Montserrat, Helvetica, sans-serif;
}

/* Photo */
#my-photo {
  width: auto;
  height: 100vmin;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* style for smaller devices  */
#my-photo-for-android {
  display: none;
}

@media screen and (max-width: 600px) {
  /* Saithalavi Koya T K - Website Developer */
  #head-title {
    font-size: xx-small;
  }

  /* background image */
  body::after {
    content: "";
    background: url(/images/whiteBackground2.jpg);
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -10;
  }

  /* Navigation */
  #navbar {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vmin;
    height: 1vmax;
  }

  ul.nav-links {
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 6vmin;
    left: 15vmax;
  }

  #my-name {
    position: fixed;
    font-size: 6vw;
    top: 32vmax;
    left: 52vmin;
    color: rgb(0, 140, 255);
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: bolder;
    max-height: 100vmin;
    max-width: auto;
  }
  /* Caption */
  #caption-line1 {
    position: fixed;
    font-size: 10vw;
    bottom: 80vmin;
    left: 0;
    color: rgb(0, 0, 0);
    font-family: Montserrat, Helvetica, sans-serif;
  }

  #caption-line2 {
    position: fixed;
    font-size: 10vw;
    bottom: 70vmin;
    left: 0;
    color: rgb(0, 0, 0);
    font-family: Montserrat, Helvetica, sans-serif;
  }

  #caption-line3 {
    position: fixed;
    font-size: 20vw;
    bottom: 50vmin;
    left: 0;
    color: rgb(0, 0, 0);
    font-family: Montserrat, Helvetica, sans-serif;
  }

  /*#caption {
    position: fixed;
    font-size: 14vmin;
    width: 5vmax;
    top: 37vmax;
    left: 73vmin;
    color: rgb(12, 11, 11);
    font-family: Montserrat, Helvetica, sans-serif;
    line-height: 150%;
    font-weight: bold;
    z-index: 10;
  }*/

  #my-photo {
    display: none;
  }

  #my-photo-for-android {
    width: auto;
    height: 50vmin;
    position: fixed;
    right: 0;
    bottom: 0px;
    z-index: -1;
    display: block;
  }

  #myGithub {
    width: 25px;
  }
}

#myGithub {
  width: 50px;
}
